.form-container {
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 30em;
  height: 20em;
  text-align: center;
  border-radius: 1em;
}

.form-inputs {
  margin: 1em;
}

.form-header {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-top: 0.5em;
  margin: 0 0 1em;
  background-color: black;
  color: rgb(179, 231, 245);
  height: 2em;
}